version: '3.8'

services:
{% for host in ansible_play_hosts %}
  minio{{ loop.index }}:
    image: minio/minio
    hostname: minio{{ loop.index }}
    volumes:
      - {{ minio_data_folder }}:/data
    ports:
      - "900{{ loop.index + 1 }}:9001"
    networks:
      - minio_net
    deploy:
      restart_policy:
        delay: 10s
        max_attempts: 10
        window: 60s
      placement:
        constraints:
          - node.labels.minio==node{{ loop.index }}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    command: server --console-address ":9001" http://minio{1...{{ play_hosts | length }}}/data
    secrets:
      - secret_key
      - access_key
    environment:
      - MINIO_DISTRIBUTED_MODE_ENABLED=yes
      - MINIO_DISTRIBUTED_NODES={% for n in ansible_play_hosts %}minio{{loop.index}}{% if not loop.last %},{% endif %}{% endfor %}

      - MINIO_PROMETHEUS_AUTH_TYPE=public

{% endfor %}

secrets:
  secret_key:
    external: true
  access_key:
    external: true

networks:
  minio_net:
